@use "./_partials/reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html {
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(204, 204, 204);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header {
  background-color: black;

  img {
    margin-left: 1rem;
    width: 10rem;
    height: 5rem;
  }
}

.container {
  align-self: center;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#amd-earth {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url("/product-landing-page/assets/images/star-background-1920x600.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  box-shadow: 0 0 1rem 1rem black inset;

  .img-container {
    img {
      height: 20rem;
    }
  }

  p {
    font-size: 2rem;
    color: white;

    .blinking {
      animation: blinking 400ms linear 10ms infinite alternate forwards;
    }
  }
}

@import "./_partials/animations";

@media all and (orientation: portrait) {
  header {
    img {
      width: 5rem;
      height: 2.5rem;
    }
  }
  p {
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #amd-earth {
    height: 5rem;

    .img-container {
      img {
        height: 4.5rem;
      }
    }

    p {
      font-size: 1rem;
    }
  }
}
